.AuthFooter {
  font-size: 0.9rem;
  a {
    margin: 0 0.5rem;
  }
}

.form-group {
  margin-bottom: 0.5rem !important;
}

.selectGroupText {
  font-size: 1.1rem;
}

.groupError {
  margin-bottom: 10px;
  color: red;
  font-size: 14px;
  display: block;
}