.HeroSection {
  &__image-container {
    max-width: 570px;
  }
}

.badgesContainer {
  display: flex;
  max-height: 100px;
}

.badges {
  max-width: 90%;
  // height: 100%;
  margin: -5px -10px;
}

.badgeLinkContainer {
  display:flex;
  justify-content: start;
}
.badges:hover {
  cursor: pointer;
}

.second {
  // margin: -15px 0;
}